
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
      
    <script defer src="https://use.fontawesome.com/releases/v5.10.1/js/all.js" integrity="sha384-aC/bNmpJEYrEVX5KNHN+m0CmvycQX9wDnYv8X2gdXQjrbtDP5OcU5DRiXwL6bPwr" crossorigin="anonymous"></script>
    <link href= "https://fonts.googleapis.com/css?family=Do+Hyeon|Nanum+Gothic+Coding&display=swap"  rel="stylesheet">  
    
    <link rel="stylesheet" href="{% static 'omok_main/searchdesign.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SEARCH</title>
    <link rel="stylesheet" href="{% static 'omok_main/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">오목하게 만들어주겠어 펀-치</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/account/ranking/">Rank</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="#">About Us</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">환영합니다. {{ user.username }} 님!</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="waitingroom/">한판하실?</a>
                            <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                            <form id="logout" method="POST" action="{% url 'logout' %}">
                                {% csrf_token %} <input type="hidden" />
                            </form>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'signup' %}">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>    

        <div class="container">
            <div class="top">
            <h1 class="title">게임 만들기</h1>
            <form action="{% url 'waitingroom' %}" method="POST">
                {% csrf_token %}
                <div class="d-flex justify-content-center align-items-center">
                        <input type="text" class="form-control col-md-4" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px; border-right-color: white; border-right-width: 0px; outline: none !important; box-shadow: none !important;" placeholder="이곳에 ID를 입력하세요" autocomplete="on" name="check_room">
                        <div class="d-flex iicon align-items-center" style="border-left-width: 0px;">
                          <button type="submit" class="btn btn-success" style="background-color: white; height: 38px; width: 45px; border-left-color: white; border-right-color: #ced4da;
                            border-top-color: #ced4da;border-bottom-color: #ced4da ">
                            <i class="fas fa-search" style="font-size: 25px ; color:black; padding-right: 5px;"></i>

                        </div>
                </div>  
            </form>
            <br>
            </div>
        </div>


        <div class="container">
            <div class="top">
            <h1 class="title">게임 찾기</h1>
            <form action="" method="GET">
                <div class="d-flex justify-content-center align-items-center">
                        <input type="text" class="form-control col-md-4" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px; border-right-color: white; border-right-width: 0px; outline: none !important; box-shadow: none !important;" placeholder="이곳에 ID를 입력하세요" autocomplete="on" name="search_word" value="{{search_word}}">
                        <div class="d-flex iicon align-items-center">
                            <button type="submit" class="btn btn-success" style="background-color: white; height: 38px; width: 45px; border-left-color: white; border-right-color: #ced4da;
                            border-top-color: #ced4da;border-bottom-color: #ced4da ">
                            <i class="fas fa-search" style="font-size: 25px ; color:black; padding-right: 5px;"></i>
                            </button>
                        </div>
                </div>  
            </form>
            <br>
            </div>
        </div>
    <div class="container">
      <div class="botto">
          <h1 class="title">게임 전체보기</h1>
        <div class="row">
            
            
            
        
      {% if check_room %} 
      {% comment %}
        이미 있는방 
      {% endcomment %}
        <div class="container"  style="display: inline-block;text-align: center; color: red;">
          <h3>{{check_room}} {{error_post}}</h3>
        </div>
          {% for room in all_room %}
          <div class="card col-md-4 " style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{room.room_name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{room.room_name}}</h6>
              <p class="card-text">랭킹/관전자수.</p>
              <a href="/waitingroom/{{room.room_name}}"  class="card-link">참가</a>
              <a href="#" class="card-link">관전</a>
            </div>
          </div>
          {% endfor %}
      
      {% elif query %}
      <div class="container"  style="display: inline-block;text-align: center; color: red;"></div>
        <h3>{{query}} {{error_post}}</h3>
      </div>
        
          <div class="card col-md-4 " style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{query}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{query}}</h6>
              <p class="card-text">랭킹/관전자수.</p>
              <a href="/waitingroom/{{query}}" class="card-link">참가</a>
              <a href="#" class="card-link">관전</a>
            </div>
          </div>
      {% endif %}

      {%if search_room %} 
      
        {% comment %}
          새로운 방 생성
        {% endcomment %}
          
        {% for room in search_room %} 
        <div class="card col-md-4 " style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{room.room_name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{room.room_name}}</h6>
            <p class="card-text">랭킹/관전자수.</p>
            <a href="/waitingroom/{{room.room_name}}" class="card-link">참가</a>
            <a href="#" class="card-link">관전</a>
          </div>
        </div>
        {% endfor %} 
        {% else %} 
        <div class="container" style="display: inline-block;text-align: center;">
        <h1> {{search_word}} {{error}}</h1>
        </div>
      {% endif %} 

        </div>
      </div>
    </div>       
    <script src="{% static 'omok_main/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'omok_main/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>