{% extends 'omok_main/base.html' %}
{% load static %}
  
{% block content %}
  <div id="board" class="d-flex justify-content-center"></div>

  <div id="message"></div>
  
  <script type="text/javascript" src="{% static 'omok_main/dist/jgoboard-latest.js' %}"></script>
  <script type="text/javascript" src="{% static 'omok_main/large/board.js' %}"></script>
  <script type="text/javascript">
  var jboard = new JGO.Board(19);
  var jsetup = new JGO.Setup(jboard, JGO.BOARD.large);
  var leftCoord, rightCoord, topCoord, bottomCoord; // selected coords
  var state = 0, states = {edit:0, select1:1, select2:2};
  
  currentTurn = 1
  jsetup.create('board', function(canvas) {
    canvas.addListener('click', function(coord, ev) {
      console.log(coord)
      var type = jboard.getType(coord); // 그 위치의 현재 색.
      // type = (type == JGO.WHITE) ? JGO.CLEAR : type + 1; // cycle
      console.log(type)
      if (type) {
        jboard.setType(coord, type);
      } else{
        jboard.setType(coord, currentTurn); // 그 위치에 타입을 놓음.
        if (currentTurn == 1) {
          currentTurn = 2
        } else {
          currentTurn = 1
        }
      }
    });
  });
  </script>
{% endblock content %}
  