{% extends 'omok_main/base.html' %}
{% load static %}


{% block css %}
  <link rel="stylesheet" href="{% static 'omok_main/play.css' %}">
{% endblock css %}
  

{% block content %}
<div id="main" class="d-flex justify-content-between align-items-center w-100">
    <div id="player1">
      <div class="player-profile card d-flex flex-column align-items-center" style="width: 18rem;">
        <img src="{% static 'omok_main/sample_user.png' %}" class="card-img-top profile-image" alt="...">
        <div class="card-body">
          <h3 class="card-title text-center" id="player1_name">player1</h3>
        </div>
        <div class="player-informations card-body pt-0">
            <p class="card-text">
              승: <span class="win pl-4" id="player1_win">10</span>
            </p>
            <p class="card-text">
              무: <span class="win pl-4" id="player1_draw">0</span>
            </p>
            <p class="card-text">
              패: <span class="win pl-4" id="player1_lose">10</span>
            </p>
  
          </div>
      </div>
    </div>
    <div id="board"></div>
    <div id="player2">
      <div class="player-profile card d-flex flex-column align-items-center" style="width: 18rem;">
          <img src="{% static 'omok_main/sample_user.png' %}" class="card-img-top profile-image" alt="...">
          <div class="card-body">
            <h3 class="card-title text-center" id="player2_name">player2</h3>
          </div>
          <div class="player-informations card-body pt-0">
            <p class="card-text">
              승: <span class="win pl-4" id="player2_win">10</span>
            </p>
            <p class="card-text">
              무: <span class="win pl-4" id="player2_draw">10</span>
            </p>
            <p class="card-text">
              패: <span class="win pl-4" id="player2_lose">10</span>
            </p>
  
          </div>
        </div>
    </div>
</div>

{% endblock content %}



{% block extracode %}
<script type="text/javascript" src="{% static 'omok_main/dist/jgoboard-latest.js' %}"></script>
<script type="text/javascript" src="{% static 'omok_main/large/board.js' %}"></script>
<script type="text/javascript">
var roomName = {{ room_name_json }};
var userName = {{ user_name_json }};

var updateCaptures = function (node) {
  document.getElementById('black-captures').innerText = node.info.captures[JGO.BLACK];
  document.getElementById('white-captures').innerText = node.info.captures[JGO.WHITE];
};
var jrecord = new JGO.Record(19);
var jboard = jrecord.jboard;
var jsetup = new JGO.Setup(jboard, JGO.BOARD.largeWalnut);

var is_playing = false
var player = undefined; // next player

var current_player = undefined
var black_player = undefined
var white_player = undefined

var ko = false, lastMove = false; // ko coordinate and last move coordinate
var lastHover = false, lastX = -1, lastY = -1; // hover helper vars
jsetup.setOptions({stars: {points:5}});
jsetup.create('board', function(canvas) {
  var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/omok/' + roomName + '/');

  chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
  };

  canvas.addListener('click', function(coord, ev) {
    if(current_player != player | player == undefined || is_playing == false){
      return 
    }
    
    
    // console.log(player, coord)
    message = {"player": player, "x": coord['i'], "y": coord['j']}
    //console.log(message)
    // var opponent = (player == JGO.BLACK) ? JGO.WHITE : JGO.BLACK;

    if(lastHover)
      jboard.setType(new JGO.Coordinate(lastX, lastY), JGO.CLEAR);

    lastHover = false;

    var play = jboard.playMove(coord, player, ko);
    // console.log(play)

    if(play.success) {
      chatSocket.send(JSON.stringify({
          'message': message
      }));
      // player = opponent;
    } else {
      // alert('Illegal move: ' + play.errorMsg);
    }
  });

  chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var type = data['type']
    // console.log(data)
    
    if(type == 'chat_message'){
      var message = data['message'];
      console.log(message)
      console.log('wow')
      // player = message['player']
      x = message['x']
      y = message['y']
      coord = new JGO.Coordinate(x, y)
      
      console.log('current_player1:', current_player)
      current_player = message['current_player']
      console.log('current_player2:', current_player)
      
      node = jrecord.createNode(true);
      node.setType(coord, message['player']); // play stone
      if(lastMove)
        node.setMark(lastMove, JGO.MARK.NONE); // clear previous mark
      node.setMark(coord, JGO.MARK.CIRCLE); // mark move
      lastMove = coord;

      if(message['alert']){
        // alert(message['alert'])
      }

      if(current_player == 2){
        $('#player2 .player-profile').css('border', '1px solid red')
        $('#player1 .player-profile').css('border', 'none')
      } else if(current_player == 1){
        $('#player1 .player-profile').css('border', '1px solid red')
        $('#player2 .player-profile').css('border', 'none')
      }
    }

    if(type == 'spectator_message') {
      var spectator = data['spectator']
      console.log(spectator, "님이 관전자로 입장하셨습니다.")
    }

    if(type == 'start_settings') {
      var start_settings = data['start_settings']
      is_playing = true
      black_player = start_settings['black']
      white_player = start_settings['white']
      current_player = start_settings['current_player']

      console.log('black:', black_player)
      console.log('white:', white_player)

      if(userName == black_player){
        player = 1
      } else if(userName == white_player){
        player = 2
      }

      $('#player1 .player-profile').css('border', '1px solid red')
      // alert(start_settings['alert'])
    }

    if(type == 'update_profile'){
      var player1_info = data['player1_info']
      var player2_info = data['player2_info']
      console.log("player1_info:", player1_info)
      console.log("player2_info:", player2_info)
      if(player1_info){
        $('#player1_name').text(player1_info['username'])
        $('#player1_win').text(player1_info['win'])
        $('#player1_draw').text(player1_info['draw'])
        $('#player1_lose').text(player1_info['lose'])
      }
      
      if(player2_info){
        $('#player2_name').text(player2_info['username'])
        $('#player2_win').text(player2_info['win'])
        $('#player2_draw').text(player2_info['draw'])
        $('#player2_lose').text(player2_info['lose'])
      }
    }

    if(type == 'end_game'){
      var win_user = data['win_user']
      var lose_user = data['lose_user']
      is_playing = false
      console.log("win_user:", win_user)
      console.log("lose_user:", lose_user)
    }

    if(type == 'load_board'){
      var load_board = data['load_board']
      coords = load_board.split(';')
      console.log(coords)
      for(var i=0; i<coords.length-1; i++){
        info = coords[i].split(',')
        player = Number(info[0])
        coord = new JGO.Coordinate(Number(info[1]), Number(info[2]))
        console.log(player, coord)
        jboard.setType(coord, player)
      }
    }
  };

  canvas.addListener('mousemove', function(coord, ev) {
    if(coord.i == -1 || coord.j == -1 || (coord.i == lastX && coord.j == lastY) || is_playing == false)
      return;

    if(lastHover) // clear previous hover if there was one
      jboard.setType(new JGO.Coordinate(lastX, lastY), JGO.CLEAR);

    lastX = coord.i;
    lastY = coord.j;
    //console.log(lastX, lastY)

    // console.log(current_player, player)
    // console.log('current_player:', current_player)
    // console.log('player:', player)
    if(current_player == player){
      if(jboard.getType(coord) == JGO.CLEAR && jboard.getMark(coord) == JGO.MARK.NONE) {
        if(player == 1){
          jboard.setType(coord, JGO.DIM_BLACK);
        } else if(player == 2){
          jboard.setType(coord, JGO.DIM_WHITE);
        }

        //jboard.setType(coord, player == JGO.WHITE ? JGO.DIM_WHITE : JGO.DIM_BLACK);
        lastHover = true;
      } else
        lastHover = false;
    }
    
  });

  canvas.addListener('mouseout', function(ev) {
    if(lastHover)
      jboard.setType(new JGO.Coordinate(lastX, lastY), JGO.CLEAR);

    lastHover = false;
  });
});
</script>
{% endblock extracode %}
  