{% extends 'omok_main/base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'omok_main/home.css' %}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">오목하게 만들어주겠어 펀-치</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/account/ranking/">Rank</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="#">About Us</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">환영합니다. {{ user.username }} 님!</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/waitingroom/">한판하실?</a>
                            <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                            <form id="logout" method="POST" action="{% url 'logout' %}">
                                {% csrf_token %} <input type="hidden" />
                            </form>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'signup' %}">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>  
{% endblock css %}


    

{% block content %}
<div class="container w-100 d-flex flex-column justify-content-center align-items-center" id="banner">
    <h1 id='title'>
        오목하자! 데모 버전입니다.
    </h1>
    <div class="container d-flex justify-content-center align-items-center">
        <a href="/waitingroom" class="mt-4 mr-3">
            <button type="button" class="btn btn-dark">
                오목하러 가기
            </button>
        </a>
        <a href="/account/signup" class="mt-4 mr-3">
            <button type="button" class="btn btn-primary">
                회원 가입 하기
            </button>
        </a>
        <a href="/account/login" class="mt-4">
            <button type="button" class="btn btn-success">
                로그인 하기
            </button>
        </a>
    </div>
</div>
{% endblock content %}
    