[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/deploy/uwsgi-env/bin/uwsgi -i /srv/omok-project/.config/uwsgi/mysite.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target